body {
    background: #F0ECEE;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
    }
    
    ul {
    list-style-type: none;
    padding: 0;
    }
    
    h2 {
    margin-top: 0;
    font-weight: 400;
    }
    
    .nav {
    display: flex;
    flex-direction: column;
    }
    
    .nav button {
    margin-top: 20px;
    }
    
    a {
    color: #88898B;
    text-decoration: none;
    }
    
    a:hover {
    color: #FF4850;
    }
    
    button {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    color:#fff;
    background: #FF4850;
    border: none;
    cursor: pointer;
    font-weight: 400;
    }
    
    button:hover {
    background: #ccc;
    color: #FF4850;
    }
    
    span {
    color: #FF4850;
    }
    
    h4 {
    color: #88898B;
    font-weight: 300;
    }
    
    @media only screen and (min-width: 768px) {
    body {
    background-image: url("bulldog.jpg");
    background-size: cover;
    padding: 20px;
    }
    
    button {
    width: auto;
    }
    
    .top-bar {
    display: flex;
    justify-content: space-between;
    }
    
    .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0;
    }
    
    .nav button {
    margin-top: 0;
    }
    
    .words {
    width: 48%;
    }
    
    .words button {
    width: 40%;
    }
    
    }